/* Demo 2 */
#search-2 input[type=search] {
	width: 25px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#search-2 input[type=search]:hover {
	background-color: #fff;
}
#search-2 input[type=search]:focus {
	width: 100px;
	padding-left: 30px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#search-2 input:-moz-placeholder {
	color: black;
}
#search-2 input::-webkit-input-placeholder {
	color: transparent;
}
	input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 80%;
}
input[type=search] {
	background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 4px 9px 32px;
	width: 65px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.searchButton {
	background-color: rgb(151, 151, 255);
	padding: 9px;
	border-style: none;
	border-radius: 25px;
}
.searchButton:hover {
	background-color: rgb(17, 17, 202);
}

@media (max-width: 990px) {
	.searchContainer {
		display: none;
	}
}