@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #00B4D8;
  --secondary-color: #80ecff;
  --background-color: #03045E;
  --text-color: #CAF0F8;
  --temp-color: #F8F8F8;
  --header-color: #1f1e1e;
  --card-bg-color: #0077B6;
  --card-bg-gradient: linear-gradient(to top, #00B4D8 0%, #0077B6 100%);
  --shadow-color: rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

 body {
  /* height: 90vh;
  background-image: linear-gradient(to right, var(--background-color), var(--secondary-color)); */
  background-color: var(--background-color);
}
.weather { 
  background-image: linear-gradient(to top, var(--secondary-color), var(--background-color));
  padding: 50px;
  width: 60vw;
  height: 85vh;
  /* border-radius: 20px; */
  box-shadow: 0 10px 20px var(--shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: var(--header-color);
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background-image: var(--card-bg-gradient);
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 5px 15px var(--shadow-color);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
} */

.city {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--text-color);
}

.sunny,
.cloudy,
.rainy,
.snow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.sunny img,
.cloudy img,
.rainy img,
.snow img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.snow img {
  background-color: black;
  padding: 10px;
}

.temp {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--temp-color);
  text-align: center;
}
.deg{
  font-size: 2.2rem;
}


@media only screen and (max-width: 1024px) {
  .weather {
    width: 90vw;
  }
  .cards {
    flex-direction: row;
    gap: 20px;
  }

  .card {
    width: 80%;
  }

  .header {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .container {
    height: auto;
  }
  .weather {
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .card {
    width: 100%;
  }

  .header {
    font-size: 1.75rem;
  }

  .city {
    font-size: 1.375rem;
  }

  .temp {
    font-size: 1.375rem;
  }
}

@media only screen and (max-width: 440px) {
  body {
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .weather {
    /* width: 90vw; */
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card {
    width: 50%;
  }

  .header {
    font-size: 1.5rem;
  }

  .city {
    font-size: 1.25rem;
  }

  .temp {
    font-size: 1.25rem;
  }

  .sunny img,
  .cloudy img,
  .rainy img,
  .snow img {
    height: 80px;
    width: 80px;
  }
}

.search{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 45px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: flex;
}

.error{
    text-align: center;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
    align-items: center;
    font-size: 20px;
}
nav {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
}